* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------COMMON--------------*/
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #7fffd4;
}
.ms_container {
    width: 97%;
    margin: auto;
}

/*--------------HEADER--------------*/
header {
    height: 80px;
    background-color: #fff;
    line-height: 80px;
}
.logo_and_title {
    float: left;
}
.play_game {
    float: right;
}
.play_game select {
    width: 150px;
}
.play_game button {
    width: 70px;
}
.header_btn {
    height: 22px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
}

/*---------------MAIN---------------*/
main {
    height: calc( 100vh - 150px );
    display: flex;
    justify-content: center;
    align-items: center;
}
.my_grid {
    width: calc( 100vh - 300px );
    height: calc( 100vh - 300px );
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}
.square {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.square_7 {
    width: calc(( (100vh - 300px) - 2px) / 7);
    height: calc(( (100vh - 300px) - 2px) / 7);
}
.square_9 {
    width: calc(( (100vh - 300px) - 2px) / 9);
    height: calc(( (100vh - 300px) - 2px) / 9);
}
.square_10 {
    width: calc(( (100vh - 300px) - 2px) / 10);
    height: calc(( (100vh - 300px) - 2px) / 10);
}
.square.actvive {
    background-color: #6495ed;
    color: #fff;
}

/*--------------FOOTER--------------*/
footer {
    height: 70px;
    background-color: #fff;
    line-height: 70px;
}
.author i {
    font-size: 16px;
}
